
# Configuration files
/config/dev.php
/config/prod.php

# Composer
/composer.lock
/vendor/*
!vendor/.gitkeep

# Bower
/vendor-front/*
!vendor-front/.gitkeep

# NPM
/node_modules/*
!node_modules/.gitkeep

# Var
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep

# Assets
/web/css/*
!/web/css/.gitkeep
/web/fonts/*
!/web/fonts/.gitkeep
/web/ico/*
!/web/ico/.gitkeep
/web/img/*
!/web/img/.gitkeep
/web/js/*
!/web/js/.gitkeep

# User files
/web/user/screenshot/*
!/web/user/screenshot/.gitkeep
