
/* ***************** */
/*     Container     */
/* ***************** */
.container, .container-fluid {
  padding: 15px;
}

/* ************** */
/*     Navbar     */
/* ************** */
a.navbar-brand:hover > img {
    padding: 2px;
    background: #dddddd;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ffffff;
    border-radius: 4px;
}


/* ******************* */
/*     Progess bar     */
/* ******************* */
.progress-bar-disable {
    background-color: #d9d9d9;
}
.progress-striped .progress-bar-disable {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-disable {
    background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #c9c9c9 100%);
    background-image: -o-linear-gradient(top, #d9d9d9 0%, #c9c9c9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#c9c9c9));
    background-image: linear-gradient(to bottom, #d9d9d9 0%, #c9c9c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9d9d9', endColorstr='#ffc9c9c9', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
