{% set route = app.request.attributes.get('_route') %}

<header class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ app.request.basepath }}/img/logo/light-url.png" /></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">

                <li {% if route == 'home' %}class="active"{% endif %}>
                    <a href="{{ path('home') }}">Home</a>
                </li>
                
                {% if route == 'redirect' %}
                    <li class="active">
                        <a href="javascript:void(0);">Redirecting</a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>
</header>
